In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [10]:
di_df = pd.read_csv('disability.csv',skiprows = 1)

In [12]:
di_df.head()

,Table Name,State Code,Distt.Code,Area Name,Total/Rural/Urban,Age-group,Total number of disabled persons,Unnamed: 7,Unnamed: 8,In seeing,...,Unnamed: 23,Mental Illness,Unnamed: 25,Unnamed: 26,Any Other,Unnamed: 28,Unnamed: 29,Multiple Disability,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,...,Females,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females
1,NaN,NaN,NaN,NaN,NaN,NaN,1,2,3,4,...,18,19,20,21,22,23,24,25,26,27
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C4920,20.0,0.0,State-JHARKHAND,Total,Total,"769,980","426,876","343,104","180,721",...,"15,857","20,157","11,718","8,439","112,372","62,136","50,236","58,835","31,965","26,870"
4,C4920,20.0,0.0,State-JHARKHAND,Total,0-4,"46,455","24,406","22,049","14,154",...,723,292,173,119,"10,382","5,417","4,965","2,773","1,551","1,222"